main
{
    margin-top: auto;
    width: 40%;
    background-color: #565656;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

form
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 300px;
}

label
{
    width: 100%;
    font-size: 18px;
    gap: 8px;
    color: var(--color);
    display: flex;
    flex-direction: column;
}

mrpg-checkbox
{
    align-self: flex-start;
}

input,
form a
{
    font-size: var(--fontSize);
    font-weight: 100;
    padding: 8px;
    border: 2px solid var(--color);
    color: var(--color);
    background-color: var(--inputBackground);
    --inputBackground: #565656
}

input[type='button']
{
    cursor: pointer;
}

input:hover,
input:focus,
form a:hover,
form a:focus
{
    --inputBackground: #707070;
}

p.error
{
    color: #ce3b3b;
    font-size: 28px;
    text-align: center;
    font-weight: 300;
}