main
{
    margin-top: auto;
    width: 40%;
    background-color: #565656;
}

form
{
    display: flex;
    flex-direction: column;
    padding: 50px;
    align-items: center;
    gap: 20px;
}

label
{
    font-size: 18px;
    gap: 8px;
    color: var(--color);
}

label:not(:nth-child(3))
{
    display: flex;
    flex-direction: column;
}

input
{
    font-size: var(--fontSize);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    padding: 8px;
    border: var(--border);
    color: var(--color);
    background-color: var(--background);
}

p.error
{
    color: #ce3b3b;
    font-size: 28px;
    text-align: center;
    font-weight: 300;
}