main
{
    margin-top: auto;
    width: 40%;
    background-color: #565656;
}

form
{
    display: flex;
    flex-direction: column;
    padding: 50px;
    align-items: center;
    gap: 20px;
}

label
{
    font-size: 18px;
    gap: 8px;
    color: var(--color);
    display: flex;
    flex-direction: column;
    width: 280px;
}

label.show
{
    flex-direction: row;
    justify-content: flex-end;
    margin-top: -15px;
    cursor: pointer;
}

label.remember
{
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}
  
label.remember input
{
    display: none;
}
  
label.remember span
{
    height: 27px;
    width: 27px;
    background-color: transparent;
    border: 2px solid var(--color);
    padding: 4px;
}

label.remember:hover input ~ span
{
    background-color: rgba(255, 255, 255, 0.15);
    border: 2px solid #efefef;
}

label.remember input:checked ~ span div
{
    background-color: #efefef;
    width: 100%;
    height: 100%;
}

input,
form a
{
    font-size: var(--fontSize);
    font-weight: 100;
    padding: 8px;
    border: 2px solid var(--color);
    color: var(--color);
    background-color: var(--inputBackground);
    --inputBackground: #565656
}

input[type='button']
{
    cursor: pointer;
}

input:hover,
input:focus,
form a:hover,
form a:focus
{
    --inputBackground: #707070;
}

p.error
{
    color: #ce3b3b;
    font-size: 28px;
    text-align: center;
    font-weight: 300;
}