@import "main.css";
@import "nav.css";
@import "vars.css";

content
{
    display: grid;
    grid-template-columns: 1fr 2fr;
}

items
{
    display: flex;
    background-color: #787878;
    width: 100%;
    aspect-ratio: 0.75;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

items img
{
    width: 70px;
    height: 70px;
    background-color: #565656;
}

info
{
    display: block;
    padding: 30px;
}

h3
{
    font-weight: 100;
    font-size: 40px;
    text-align: center;
}

info stat
{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    flex-wrap: wrap;
    gap: 15px;
}

info div stat:not(:last-child)
{
    border-bottom: 1px solid #eeeeee;
}

info > stat
{
    border-top: 1px solid #eeeeee;
}

info > div
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    overflow: auto;
}

info graph
{
    padding: 10px;
    display: flex;
    justify-content: center;
    position: relative;
}

info graph svg
{
    height: 100%;
    width: 100%;
}

info graph svg polygon
{
    fill: rgba(30, 42, 94, 0.3);
    stroke: #d3d6da;
    stroke-width: 1;
}

info graph svg line
{
    stroke: white;
    stroke-width: 2;
}

info graph svg text
{
    font-size: 20px;
    background-color: #565656;
    display: block;
}

info graph svg circle
{
    fill: #010101;
    stroke: #010110;
}