@import "main.css";
@import "nav.css";
@import "vars.css";

content
{
    display: grid;
    grid-template-columns: 1fr 2fr;
}

items
{
    display: block;
    background-color: #787878;
    width: 100%;
    aspect-ratio: 0.75;
}

info
{
    display: block;
    padding: 30px;
}

h3
{
    font-weight: 100;
    font-size: 40px;
    text-align: center;
}

info stat
{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    flex-wrap: wrap;
    gap: 15px;
}

info div stat:not(:last-child)
{
    border-bottom: 1px solid #eeeeee;
}

info > stat
{
    border-top: 1px solid #eeeeee;
}

bar
{
    width: 100%;
    height: 20px;
    background-color: #343434;
    display: block;
}

bar > fill
{
    height: 20px;
    background-color: #acacac;
    display: block;
}

info > div
{
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 1fr;
    overflow: auto;
}

info graph
{
    padding: 20px;
    display: flex;
    justify-content: center;
    position: relative;
}

info graph svg
{
    height: 100%;
}

info graph svg polygon
{
    fill: rgba(65, 65, 65, 0.3);
    stroke: white;
    stroke-width: 1;
}

info graph svg line
{
    stroke: white;
    stroke-width: 2;
}

info graph p
{
    position: absolute;
    font-size: 13px;
}

info graph p:nth-of-type(1)
{
    top: 5px;
}

info graph p:nth-of-type(2)
{
    top: 50%;
    transform: translateY(-50%) rotate(90deg);
    right: 5px;
}

info graph p:nth-of-type(3)
{
    bottom: 5px;
}

info graph p:nth-of-type(4)
{
    top: 50%;
    transform: translateY(-50%) rotate(-90deg);
    left: 5px;
}