@import "main.css";
@import "nav.css";
@import "vars.css";

content
{
    padding: 40px;
}

content div
{
    display: flex;
    flex-direction: row;
    width: 100%;
    font-size: var(--fontSize);
    color: var(--color);
    align-items: center;
    gap: 15px;
    border-bottom: 2px solid #efefef;
    padding: 30px 50px;
}

content div:first-child
{
    border-top: 2px solid #efefef;
}

input
{
    font-size: var(--fontSize);
    font-weight: 100;
    padding: 8px;
    border: var(--border);
    color: var(--color);
    background-color: var(--inputBackground);
    --inputBackground: #565656
}

input[type='button']
{
    cursor: pointer;
}

input:hover,
input:focus
{
    --inputBackground: #707070;
}

p.error
{
    text-align: center;
    font-weight: 300;
    color: #ce3b3b;
    font-size: 20px;
}