@import "main.css";
@import "nav.css";
@import "vars.css";

content
{
    padding: 40px;
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

content filters
{
    width: calc(100% + 30px);
    background-color: #454545;
    padding: 20px;
    margin: -15px;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

content filters rarities
{
    display: flex;
    flex-direction: row;
    gap: 7px;
}

content filters rarities div
{
    padding: 10px;
    font-size: 20px;
    background-color: transparent;
    border: 3px solid transparent;
    cursor: pointer;
}

content filters rarities div:hover
{
    background-color: #6d6d6d !important;
}

content filters rarities div.active
{
    border-color: #efefef;
    background-color: #757575;
}

content result
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 30px;
}

content skills
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px;
    width: 100%;
}

content skill
{
    padding: 10px;
    width: 80px;
    height: 80px;
    border: 3px solid;
    background-color: #676767;
    border-color: transparent;
}

content skill:hover
{
    background-color: #6d6d6d;
}

content skill img
{
    width: 100%;
    height: 100%;
}

content skills p
{
    font-size: 20px;
    color: #efefef;
}

[data-rarity="common"]
{
    border-color: #efefef;
}

[data-rarity="extra"]
{
    border-color: #62a806;
}

[data-rarity="unique"]
{
    border-color: #1e4bc7;
}

[data-rarity="ultimate"]
{
    border-color: #a7129a;
}

content inspector
{
    width: 400px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    gap: 15px;
    border: 2px solid #efefef;
}

content inspector img
{
    width: 110px;
    height: 110px;
}

content inspector h2
{
    font-size: 28px;
    font-weight: 300;
}

content inspector p
{
    text-align: center;
    font-size: 18px;
}

content inspector button
{
    border: 2px solid var(--color);
    color: var(--color);
    display: none;
}

content inspector button[data-status="enabled"]
{
    --color: #62a806;
    display: flex;
}

content inspector button[data-status="disabled"]
{
    --color: #cf0707;
    display: flex;
}

p.rarity
{
    font-size: 21px;
}