@import "main.css";
@import "nav.css";
@import "vars.css";

content
{
    display: grid;
    grid-template-columns: 1fr 4fr;
    padding: 20px;
}

.real
{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    gap: 15px;
}

.real p
{
    font-size: 19px;
}

.fake
{
    display: flex;
    flex-wrap: wrap;
    padding: 10px 50px;
    justify-content: center;
    gap: 20px;
    border-left: 2px solid #efefef;
}

input,
select
{
    margin-left: 10px;
    max-width: 190px;
    text-align: center;
}

select
{
    width: 200px;
}

.fake div
{
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
}

h2
{
    width: 100%;
    text-align: center;
    font-size: 34px;
    font-weight: 500;
}

p
{
    text-align: center;
    font-weight: 300;
    color: #efefef;
    font-size: 26px;
}

p.error
{
    color: #ff0d0d;
}