main div
{
    --color: #efefef;
    --fontSize: 20px;
}

input
{
    --background: transparent;
    --border: 2px solid var(--color);
    --fontSize: 20px;
}

input:hover,
input:focus
{
    --border: 2px solid #efefef;
    --background: rgba(255, 255, 255, 0.15);
}