main
{
    display: flex;
    flex-direction: column;
    background-color: #565656;
    padding: 20px;
    gap: 20px;
}

main > div
{
    display: flex;
    width: 100%;
}

main div.author
{
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #efefef;
}

main div.content
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr fit-content(100%) fit-content(100px);
    border: 2px solid #efefef;
    padding: 20px;
    gap: 15px 10px;
    margin-left: -2px;
    width: 100%;
}

main > div:not(:first-child) div.content
{
    grid-template-rows: 1fr 30px !important;
}

main div.content h2
{
    grid-area: 1 / 1 / 2 / 4;
    font-size: 40px;
    font-weight: 400;
    border-bottom: 2px solid #efefef;
}

main div.content p
{
    grid-column: 1 / -1;
    font-size: 23px;
}

main div.content:first-child p
{
    grid-row: 2 / 3;
}

main div.content div,
main div.content button
{
    font-size: 24px;
    display: flex;
    justify-content: center;
    gap: 10px;
    border: 0;
    padding: 2px;
}