main
{
    display: flex;
    flex-direction: column;
    background-color: #565656;
    padding: 20px;
}

div.main
{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 20px;
}

div.main > div.main
{
    margin-left: 25px;
}

main > div.main
{
    border-left: 0 !important;
}

main > div.main > div.main,
main > div.main > div.author
{
    margin-left: 0 !important;
}

div.main:has(div.main)
{
    border-left: 2px dashed #efefef;
}

div.main:has(div.main) > div.author
{
    margin-left: -2px;
}

div.main > div.author
{
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #efefef;
}

div.main > div.content
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr fit-content(100%) fit-content(100px);
    border: 2px solid #efefef;
    padding: 20px;
    gap: 25px 10px;
    margin-left: -2px;
    flex: 1;
}

div.main > div.commenter
{
    width: 100%;
    margin-left: 148px;
    border: 2px solid #efefef;
    padding: 10px;
    display: flex;
    gap: 30px;
    margin-top: -2px;
}

div.main > div.commenter textarea
{
    width: 100%;
}

div.main > div:not(:first-child) div.content
{
    grid-template-rows: 1fr 30px !important;
}

div.main > div.content h2
{
    grid-area: 1 / 1 / 2 / 5;
    font-size: 40px;
    font-weight: 400;
    border-bottom: 2px solid #efefef;
}

div.main > div.content p
{
    grid-column: 1 / -1;
    font-size: 23px;
    white-space: pre;
    text-wrap: wrap;
}

div.main > div.content:first-child p
{
    grid-row: 2 / 3;
}

div.main > div.content div,
div.main > div.content button
{
    font-size: 24px;
    display: flex;
    justify-content: center;
    gap: 10px;
    border: 0;
    padding: 2px;
}

div.main > div.content button p,
div.main > div.content button ion-icon
{
    pointer-events: none;
}