main
{
    margin-top: auto;
    width: 40%;
    background-color: var(--background);
}

form
{
    display: flex;
    flex-direction: column;
    padding: 50px;
    align-items: center;
    gap: 20px;
}

label
{
    font-size: 18px;
    gap: 8px;
    color: var(--color);
    display: flex;
    flex-direction: column;
    width: 280px;
}

label.show
{
    flex-direction: row;
    justify-content: flex-end;
    margin-top: -15px;
    cursor: pointer;
}

input
{
    font-size: var(--fontSize);
    font-weight: 100;
    padding: 8px;
    border: var(--border);
    color: var(--color);
    background-color: var(--background);
}

input[type='button']
{
    cursor: pointer;
}

p
{
    color: #efefef;
    font-size: 28px;
    text-align: center;
    font-weight: 300;
}

p.error
{
    color: #ce3b3b;
}