main
{
    --background: #565656;
}

label
{
    --color: #efefef;
}

input
{
    --color: #efefef;
    --background: transparent;
    --fontSize: 20px;
    --border: 2px solid var(--color);
}

input:hover,
input:focus
{
    --border: 2px solid #efefef;
    --background: rgba(255, 255, 255, 0.15);
}