header
{
    position: sticky;
    top: 0;
    left: 0;
    background-color: var(--background);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    height: 50px;
    padding: 5px;
}

header nav
{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-left: auto;
}

header nav > div
{
    display: flex;
    flex-direction: column;
    background-color: #676767;
    color: var(--color);
    width: 150px;
    text-align: center;
    border: 2px solid #efefef;
    height: 100%;
}

header nav > div > a
{
    width: 100%;
    height: 100%;
    padding: 10px;
    cursor: pointer;
}

header nav > div:hover > a:hover
{
    background-color: #7d7d7d;
}

header nav > div > a:not(:first-child)
{
    border-top: 2px solid #efefef;
}

header nav > div:not(:hover) > a:not(:first-child)
{
    display: none;
}

header div.ham
{
    border: 2px solid #efefef;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    display: none;
    margin-left: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    padding: 5px;
}

header div.ham span
{
    height: 4px;
    width: 100%;
    background-color: #efefef;
}

@media (max-width: 767px)
{
    header
    {
        flex-wrap: wrap;
    }

    header nav
    {
        display: none;
        margin: 0;
        width: 100%;
        flex-direction: column;
        align-items: center;
        background-color: rgba(86, 86, 86, 0.8);
        padding: 20px;
        overflow: hidden;
    }

    header nav > div > a
    {
        display: block !important;
    }

    header > div.ham
    {
        display: flex;
    }
}
    
@media (max-width: 479px)
{
    
}