body
{
    --background: #343434;
    --color: #efefef;
}

header
{
    --background: #565656;
}

nav div
{
    --background: #787878;
    --color: #efefef;
    --backgroundHover: #898989;
}

footer
{
    --background: #565656;
    --color: #efefef;
}